
.reveal .slides{
  text-align: left;
}


.reveal .logo {
    height: 1em;
    display: block;
    text-align: left;
    margin: var(--r-block-margin) auto;
    position: relative;
    width: 90%;
}

.reveal .dotnet {
    background: #512bd4 !important;

    background-color: aquamarine;
}


.reveal section img {
  margin: 15px 0px;
  background: transparent;
  border: none;
  box-shadow: 0 0 0;
}


.line.top{
  background: #ed028c;
}
.line.bottom{
  background: #fbec00;
}
.line.left,
.line.right{
background: linear-gradient(#ed028c 0%, #fbec00 50%,#fbec00 100%);
}

#logo{
  right: 3rem !important;
  position: fixed;
    top:3rem !important;
  left: auto !important;
    z-index: 1;
    height: 3rem;
}

i {
  font-style: italic;
}