.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  
  word-wrap: normal;}

.reveal .slides{
  text-align: left;
}


.reveal .logo {
    height: 1em;
    display: block;
    text-align: left;
    margin: var(--r-block-margin) auto;
    position: relative;
    width: 90%;
}

.reveal .dotnet {
    background: #512bd4 !important;

    background-color: aquamarine;
}

.reveal .golang{
  background: PowderBlue;
}


.reveal section img {
  margin: 15px 0px;
  background: transparent;
  border: none;
  box-shadow: 0 0 0;
}


.line.top{
  background: #ed028c;
  height: 20px;
}
.line.bottom{
  background: #fbec00;
  height: 20px;
}
.line.left,
.line.right{
background: linear-gradient(#ed028c 0%, #fbec00 50%,#fbec00 100%);
width: 20px;
}

#logo{
  right: 3rem !important;
  position: fixed;
    top:3rem !important;
  left: auto !important;
    z-index: 1;
    height: 3rem;
}

i {
  font-style: italic;
}

.reveal .hljs {
  min-height: 100%;
  font-size: 1.2em;
}

.reveal pre {

  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 30%);
}